.Artist__container{
    width: 180px;
    height: 180px;
    margin-right: 25px;
    
}

.Artist__img{
    height: 100%;
    border-radius: 50%;

}

.Artist__text{

    text-align: center;
    margin-top: 15px;
}

.Artist__text--sub{
    color: gray;
    margin-top: 5px;
}

.Artist__text--name{
    text-decoration: none;
}

.Artist__text--name:hover{
    text-decoration: underline;

}