@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  color: white;
  margin: 0%;
}
body {
  background-color: black;
}

.App_nav{

  background-color: black;
  padding: 8px 16px 8px 16px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.App_link{

  display: flex;
  justify-content: center;

}

.App_user{
  width: 28px;
     height: 28px;
     border-radius: 50%;
     background: #9e5bbd;
}

.App_fav{
  height: 330px;
}
.App_title{

  margin-left: 56px;
  padding-left: 40px;
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
    font-weight: 700;

}


.App_container{
  display: flex;
  margin-left: 56px;
  margin-right: 56px;

  box-sizing: border-box;
  
}

.App_imgArtist{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.App_similar{

  display: flex;
  margin-left: 56px;
  padding-left: 40px;

  align-items: center;

}