.Album_img{

    height: 100%;
    width: 100%;


}

.Album_contenedor{
    width: 180px;
    height: 180px;
    margin-right: 25px;

}

.Album_name{
    text-decoration: none;
} 

.Album_name:hover{
    text-decoration: underline;
}

.Album__text{
    color: gray;
    padding-left: 5px;

}

.Album_e{
    height: 6%;
    width: 8%;
}

.Album_e--none{
    display: none;
}

.Album_contenedor--text{
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.Album__name{
    padding-top: 15px;
}


